#inputs{
    margin-left: 15%;
}
input::placeholder{
    color:aliceblue;
}
textarea::placeholder{
    color:aliceblue;
}
#icon{
    font-size: medium;
}
.box{
    background-color: black;
    color:aliceblue;
    border-radius: 15px;
    width:500px;
    height:500px;
    align-content: center;
    margin: 50px;
}
body{
    gap:60px;
}
ul{
    gap:50px;
    margin-left:50px;
}
.boxx{
    display:flex;
}